# STRIPE API (Ödeme Altyapısı - PayPal ve Klarna için)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_lütfen_kendi_keyinizi_girin
STRIPE_SECRET_KEY=sk_test_lütfen_kendi_keyinizi_girin

# E-POSTA SERVİSİ (Resend veya Nodemailer)
# Resend kullanırsanız:
RESEND_API_KEY=re_lütfen_kendi_keyinizi_girin
# Nodemailer (Kurumsal SMTP) kullanırsanız:
SMTP_HOST=smtp.ionos.de
SMTP_PORT=465
SMTP_USER=info@leonnrestaurant.com
SMTP_PASS=sifreniz

# MONGODB (Hediye Çeklerini Kaydetmek İçin)
MONGODB_URI=mongodb+srv://kullanici:sifre@cluster.mongodb.net/leonn?retryWrites=true&w=majority

# NEXT URL (Uygulamanın çalıştığı ana domain - lokal için 3000)
NEXT_PUBLIC_APP_URL=http://localhost:3000
